<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div class="section-block">
            <h5 class="section-title text-primary">Total Shopping Cost of Room</h5>
        </div>
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table">
                    <tbody>
                        {% if room_setting.shopping_type == 0 %}
                        <tr>
                            <td>Members Shopping Cost</td>
                            <td>
                                {{room_total_shopping.get_total_shopping_room}}
                            </td>
                        </tr>
                            {% if managerial_shop.count >= 0 %}
                            <tr>
                                <td>Monthly Shopping Cost</td>
                                <td>
                                    {{room_total_shopping.get_total_monthly_shopping}}
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        <tr class="table-primary">
                            <td><b><i>Total Cost</i></b></td>
                            <td>
                                <b><i>{{room_total_shopping.get_grand_total_shopping}}</i></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>