{% extends 'base.html' %} 
{% load cool_paginate %} 
{% if request.user.is_authenticated %} 
{% block head_title %}{% block page_title %}{% block breadcrumb %} 
Notifications 
{% endblock %}{% endblock %}Page{% endblock %} {% block content %}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
                {% for object in object_list %}
                <div class="list-group-item list-group-item-action mb-2">
                    <div class="notification-info">
                        <a href="{% url 'profile_public' slug=object.sender.user.profile.slug %}">
                            <div class="notification-list-user-img">
                                {% include 'snippets/chunks/user/user-image.html' with instance=object.sender.user class="user-avatar-md rounded-circle" %}
                            </div>
                        </a>
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">
                                {{object.sender.user.profile.get_smallname}}
                            </span> 

                            {% if object.notify_type == "join_room" %} 
                            You have a pending request to join room
                            <a href="{% url 'rooms:room_detail' slug=request.user.member_request.room.slug %}">
                                "{{ request.user.member_request.room }}".
                            </a>
                             <br>
                            <span class="text-danger">"Cancel Request"</span> 
                            if you are willing to join another room. <br>
                            <a href="{% url 'memberships:member_request_delete' slug=request.user.member_request.slug %}" class="btn btn-danger btn-xs">
                                Cancel Request
                            </a> 
                            {% endif %} 

                            {% if object.notify_type == "meal_update" %} 
                            claims a <span class="text-success">Meal Change</span> request to you.
                            <a href="{% url 'tracker:meal_update_request_confirm' slug=object.identifier %}" class="btn btn-xs btn-rounded btn-light">
                                <i class="fas fa-eye text-primary"></i>
                            </a> 
                            {% endif %} 
                            
                            {% if object.category == "message" %} 
                                {% if object.message %}
                                <span>{{ object.message }}</span>
                                <a href="{% url 'utils:notification_delete' slug=object.slug %}" class="btn btn-xs btn-rounded btn-light">
                                    <i class="fas fa-check text-success"></i>
                                </a> 
                                {% endif %}
                            {% endif %}

                            <div class="notification-date">
                                {{object.updated_at|timesince}} ago
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="container bg-dark text-center">
                    <h4 class="text-warning">
                        No notifications available !
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if object_list.count >= 1 %}
<div class="text-center">
    {% cool_paginate %}
</div>
{% endif %}


{% endblock %} {% else %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> You are not allowed to view this page because you are <strong>{{user}}</strong> !
</div>
{% endif %}