{% extends 'base.html' %}
{% if request.user.is_authenticated %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Update {{object}} Field
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            {% include 'snippets/form.html' %}
                        </fieldset>
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary btn-xs" type="submit">
                                Update Field <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        {% include 'tracker/snippets/trackers.html' %}
    </div>
</div>
<!-- end: page -->

{% endblock %}

{% else %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    You are not allowed to view this page because you are <strong>{{user}}</strong> !
</div>
{% endif %}