{% if member_instance %}
<!-- Modal -->
<div class="modal fade" id="leaveRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Please Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <strong class="text-danger"> 
                Are you sure you want to leave this room ?
            </strong>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'memberships:member_delete' slug=member_instance.slug %}"
            class="btn btn-success">
                Confirm
            </a>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% if is_maintainer %}
<!-- Modal -->
<div class="modal fade" id="removeAllRequests" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Please Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <strong class="text-danger">
                Are you sure you want to remove all member requests ?
            </strong>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'memberships:member_request_delete_all' slug=instance.slug %}"
            class="btn btn-success">
                Confirm
            </a>
        </div>
        </div>
    </div>
</div>
{% endif %}