<h4 class="text-center text-dark">Cost Sectors</h4>
<hr>
<ul class="">
    <div class="row">
        {% for sector in cost_sectors %}
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <li class="mb-2">
                <strong class="text-dark">
                    <small>{{ forloop.counter }}.</small>
                    {{ sector.title }}
                    <br>
                    <span>
                        <a href="{% url 'tracker:tracker_update' slug=sector.slug %}" class="btn btn-success btn-xs">
                            Update <i class="fa fa-edit"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{% url 'tracker:tracker_delete' slug=sector.slug %}" class="btn btn-danger btn-xs">
                            Delete <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </strong>
            </li>
        </div>
        {% empty %}
        <strong class="text-dark">There has no cost sector ! Please add some.</strong>
        {% endfor %}
    </div>
</ul>